   body {
        font-family: Arial, sans-serif;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
    }
    .card{
        border: 1px solid #69656558;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 8px;
        background-color: antiquewhite;
        width: 100%;
        max-width: 400px;
    }